<p>Elenco Server:</p>


<label>Server name</label>
<!--
  <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
>
-->
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>
<p>{{ serverName }}</p>

<button type="button" class="btn btn-primary" [disabled]="! allowNewServer" (click)="onCreateServer()" > <fa-icon icon="plus-circle"></fa-icon> Add Server </button>

<!--
<p>  {{ serverCreationStatus }}</p>
-->

<p *ngIf="serverWasCreated">
  <span *ngIf="contatoreClick % 2 === 0" class="pari">( {{ contatoreClick }} )</span>
  <span *ngIf="contatoreClick % 2 !== 0" class="dispari">( {{ contatoreClick }} )</span>
  --
  <span [style.color]="color1"
        [style.backgroundColor]="color2">
        ( {{ contatoreClick }} )
  </span>
  --
  <span [ngStyle]="{
    color: color1,
    backgroundColor: color2
  }">
  ( {{ contatoreClick }} )
  </span>

  A new server was created with name: {{ serverName }}
</p>
<p *ngIf="!serverWasCreated">
  No server created
</p>

<!--
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
-->

<!--
<ul>

  <li *ngFor="let server of serverList">

    <span *ngIf="haNomePari(server)"
            [style.backgroundColor]="'white'">
            {{ server }}
    </span>

    <span *ngIf="! haNomePari(server)"
            [style.backgroundColor]="'lightgray'">
            {{ server }}
    </span>
  </li>
</ul>
-->

<!--
    TODO:
     L'elenco dei server lo vorrei come elenco puntato
     di voci (utilizzando i tag html <ul> e <li>),

     ed inoltre i nomi che finiscono per un numero pari
     hanno il background bianco, mentre quelli che finiscono per
     un numero dispari hanno il bacground grigio chiaro
 -->

<!--

  Impostiamo le varibili per dare indicazioni al ServerComponent (<app-server>)
  quando disabilitare i pulsanti freccia

  Utilizare una delle 2 modalità alternative,
  quella con gli attributi diretti per i pulsanti:

    [upDisabled]="getIndexOf(server.name) === 0"
    [downDisabled]="getIndexOf(server.name) === serverList.length - 1"

  oppure quella dove si passano le informazioni dell'indice:

    [indiceElenco]="getIndexOf(server.name)"
    [lunghezzaElenco]="serverList.length"
-->
<app-server *ngFor="let server of serverState.getServerList()"
            [serverName]="server.name"
            [serverId]="server.id"
>
</app-server>

<!-- TODO:
  introdurre la posssibiltà di modificare il serverId del componente
  <app-server> ed assegnare tramite property binding un valore
    casuale tra 0 e 100
-->

<!--
  TODO: 15/04/2020:
  Aggiungere al componente ServerComponent (<app-server>) 2 pulsanti:
    "freccia in su": cliccando la quale spostiamo la posizione del componente
                       in alto di una posizione
    "freccia in giù": cliccando la quale spostiamo la posizione del componente
                       in basso di una posizione
    Extra:
    Disabilitare i pulsanti freccia se non producono azioni, cioé
    se sono già alla prima posizione il pulsante "freccia in su" può essere
    disabilitato, come pure se sono già nell'ultima posizione
    il pulsante "freccia giù" può essere disabilitato.
-->

<!--
  TODO: 17/04/2020:
  Risolvere in maniera alternativa il problema di disabilitare i pulsanti UP/DOWN
  trasferendo al ServerComponent (<app-server>) le informazioni dell'indice
  in cui si trova nell'elenco e il numero massimo di elementi dell'elenco
-->
