<div class="container">
  <h1>IFTS Angular</h1>
<p>Questo è il testo presente dentro app-root</p>

<p>LA mia app si chiama: <span class="evidenzia">"{{ title }}"</span></p>

<app-server-list></app-server-list>

<!--
<div app-server-list></div>
-->

<!--
<div class="app-server-list"></div>
-->
</div>
