<p [ngStyle]="{ backgroundColor: getColor() }"
   [ngClass]="{ online: serverStatus === 'online' }">
  {{ serverName }} with ID {{ serverId }} is {{ getServerStatus() }}

  <span style="float: right;">
    <button type="button" class="btn btn-secondary" (click)="onReboot()"><fa-icon icon="sync"></fa-icon></button>
    <button type="button" class="btn btn-secondary" (click)="onRemove()"><fa-icon icon="trash"></fa-icon></button>
  </span>
   <span style="float: right;">

   <button type="button" class="btn btn-secondary" [disabled]="serverState.getIndexOf(serverName) === 0" (click)="onFrecciaSu()"><fa-icon [icon]="['fas', 'chevron-up']"></fa-icon></button>
   <button type="button" class="btn btn-secondary" [disabled]="serverState.getIndexOf(serverName) === serverState.getServerList().length - 1" (click)="onFrecciaGiu()"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></button>

    <button type="button" class="btn btn-secondary" (click)="onChangeColor()"><fa-icon [icon]="['fas', 'tint']"></fa-icon></button>
   </span>

  <!-- TODO: aggiungere un pulsante per cambiare in maniera casuale
    il colore di 'online' che attualmente è rappresentato dal verde
  -->
</p>
